body{
    height: 100vh;
    width: 100%;
}
#clock{
    height: 20em;
    width: 20em;
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%)
}

.hand{
    background-color: black;
    height: 3px;
    width: 50%;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0, 2.51, 0.55, 0.53)
}
#hour-hand{
    width: 35%;
    left: 15%;
}




#interface{
    background-color: orange;
    position: absolute;
    bottom: 0vh;
    padding-bottom: 50px;
}


.hidden{
    display: none;
}

.visible{
    display: inline-block;
}

.show-button-toggle{
    display: inline-block
}
.hide-button-toggle{
    display: none;
}