#clock{
    height: 20em;
    width: 20em;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%)
}

.hand{
    background-color: black;
    height: 5px;
    width: 50%;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg)
}