/* Body styles */
body{
    height: 100vh;
    background-color: black;
    background-image: url("../images/darkSkyline.jpeg");
    background-size: cover;
}

#body-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 1;
}
/* End Body Styles */





/* Clock Styles */
#clock{
    height: 20em;
    width: 20em;
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
    z-index: 5;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    background-color: white;
}


.hand{
    background-color: black;
    height: 3px;
    width: 50%;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
}

#hour-hand{
    width: 35%;
    left: 15%;
}
/* End Clock Styles  */






/* Interface Styles */
#interface{
    background-color: #F87531;
    position: absolute;
    bottom: 0vh;
    padding-bottom: 50px;
    z-index: 10;
}

#interface-overlay{
    position: absolute;
    z-index: 50;
    background-image: url("../images/dark-wood.png");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

button{
    background-color: #171717;
    color: orange;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    z-index: 100;
    animation: glow 7s ease-in-out infinite;
}

button:hover{
    cursor: pointer;
}
button:focus, button:active{
    outline: none !important;
    box-shadow: 0px 3px 25px currentColor !important;
}

.primary-colors, .secondary-colors{
    margin: 0 auto;
}


        /* Toggle button styles */
.hide-button-toggle{
    display: none;
}
.hidden{
    display: none;
}

.visible{
    display: inline-block;
    width: 100%;
}

.show-button-toggle{
    display: inline-block;
    margin: 1em auto;
    width: 100%;
}
        /* End Toggle Button Styles */


@keyframes glow{
    0%{
        text-shadow: 0px 0px 10px currentColor
    }
    10%{
        text-shadow: 2px -2px 20px currentColor
    }
    20%{
        text-shadow: 2px -4px 30px currentColor
    }
    30%{
        text-shadow: 2px -6px 40px currentColor
    }
    40%{
        text-shadow: 2px -8px 50px currentColor
    }
    50%{
        text-shadow: 2px -8px 60px currentColor
    }
    60%{
        text-shadow: 2px -6px 50px currentColor
    }
    70%{
        text-shadow: 2px -4px 40px currentColor
    }
    80%{
        text-shadow: 2px -2px 30px currentColor
    }
    90%{
        text-shadow: 0px -2px 20px currentColor
    }
    100%{
        text-shadow: 0px 0px 10px currentColor
    }

}
/* End Interface Styles */